:root {
  --primary:         #17252a;
  --secondary:       #2b7a78;
  --midle:           #3aafa9;
  --secondary-light: #def2f1;
  --primary-light:   #feffff;
  --neutral-light:   #ddd8d5;
  --neutral-mid:     #d6d0c8;
  --neutral:         #4e4b44;
  --neutral-dark:    #302a27;
}
